    <h1 id="h1_1"> 
        신이 <strong><%= @title %></strong>을(를) 만들 때
    </h1>
    
    <div class="row">
      <div class="col-md-9" style="float:none; margin: 0 auto;">
       <div class="col-md-4">
        <div class="thumbnail">
            <%= image_tag "content1.png" %>
            <div class="caption">
              <p class="main"> <strong><%= @content1 %></strong>&nbsp을(를) <br> 넣었고 </p>
            </div>
        </div>
        </div>
      <div class="col-md-4">
        <div class="thumbnail">
            <%= image_tag "content2.png" %>
            <div class="caption">
              <p class="main"> <strong><%= @content2 %></strong>&nbsp을(를) <br> 많!이! 넣었고 </p>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
            <%= image_tag "content3.png" %>
            <div class="caption">
              <p class="main"> <strong><%= @content3 %></strong>&nbsp을(를) <br> 쏟아부었당!!!! </p>
            </div>
        </div>
      </div>
    </div>
    </div>
    
    <div align="center">
      <a href="/home/index">
      <img src="http://bit.ly/2ofKd4t" width=50px height=50px >
      </a>
    </div>